.form-group
  label(for='label').control-label Label
  input.form-control(id='label' type='text' ng-model='item.label' ng-change='slugify(item.label)' placeholder='Label')
  label(for='slug').control-label Slug
  input.form-control(id='slug' type='text' ng-model='item.slug' placeholder='Slug url')

.form-group
  label.control-label Associated movies
  tags-input(ng-model='item.movies' placeholder='Search movie' add-from-autocomplete-only='true' display-property='title' key-property='_id')
    auto-complete(source='loadMovies($query)' template='movie-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='movie-template')
    .tag-template
      span {{data.title}}

.form-group
  label.control-label AdSpot (top associated movie/series/mea,ad)
  tags-input(ng-model='item.adSpots' placeholder='Search movie/season/spot' add-from-autocomplete-only='true' display-property='title' key-property='_id' max-tags='{{maxAdSpots}}' enable-editing-last-tag='false')
    auto-complete(source='loadMovies($query)' template='movie-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='movie-template')
    .tag-template
      span {{data.title}}

.form-group
  label.control-label Countries
  countries(props="countriesProps")

.form-group
  label.control-label Broadcasters
  broadcasters(props="broadcastersProps")
