.form-group
  label.control-label Licensor
  input.form-control(type='text' ng-model='item.licensor' placeholder='Search licensor' typeahead='licensor as licensor.name for licensor in loadLicensors($viewValue) | limitTo: 5')

.form-group
  label.control-label ImdbId
  input.form-control(type='text' ng-model='item.imdbId')

.form-group
  label.control-label Production country
  select.form-control(type='text' ng-model='item.productionCountry' ng-options='o as o for o in countries' style="width:auto;")

.form-group
  label.control-label VO/VOST/...
  select.form-control(type='text' ng-model='item.vXstY' ng-options='o as o for o in vXstYList' style="width:auto;")

.form-group
  div
    label.control-label CSA
  div.btn-group
    div.btn.csa(ng-model="item.CSA" uib-btn-radio="1")
      img(src="/assets/images/CSA_1.gif")
    div.btn.csa(ng-model="item.CSA" uib-btn-radio="2")
      img(src="/assets/images/CSA_2.gif")
    div.btn.csa(ng-model="item.CSA" uib-btn-radio="3")
      img(src="/assets/images/CSA_3.gif")
    div.btn.csa(ng-model="item.CSA" uib-btn-radio="4")
      img(src="/assets/images/CSA_4.gif")
    div.btn.csa(ng-model="item.CSA" uib-btn-radio="5")
      img(src="/assets/images/CSA_5.gif")

.form-group
  div
    label.control-label rating
  input.form-control(type='number' ng-model='item.rating')
  slider(min='0' step='0.1' max='5' ng-model="item.rating")

.form-group
  label.control-label Release Year
  input.form-control(type='number' ng-model='item.yearReleased' min="1900" max="2100")

.form-group
  label.control-label Genre
  select.form-control(type='text' ng-model='item.genre' ng-options='o as o for o in genres')

.form-group
  label.control-label Creation
  input.form-control(type='text' ng-model='item.creation')

.form-group(ng-if='isMovie()')
  label.control-label Durée (secondes)
  input.form-control(type='number' ng-model='item.duration')
  slider(min='0' step='10' max='10000' ng-model="item.duration")

.form-group(ng-if='isSerie()')
  label.control-label Programmation
  input.form-control(type='text' ng-model='item.schedule' placeholder='Du lundi au vendredi')

.form-group
  label.control-label Category
  tags-input(ng-model='item.categorys' placeholder='Search category' add-from-autocomplete-only='true' display-property='label' key-property='_id')
    auto-complete(source='loadCategorys($query)' template='category-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='category-template')
    .tag-template
      span {{data.label}}

.form-group(ng-if='isSerie()')
  label.control-label Seasons
  tags-input(ng-model='item.seasons' placeholder='Search seasons' add-from-autocomplete-only='true' display-property='autocompleteTitle' key-property='_id' replace-spaces-with-dashes='false')
    auto-complete(source='loadSeasons($query)' template='season-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='season-template')
    .tag-template
      span {{data.autocompleteTitle}}

.form-group
  label.control-label Video
  div
    input.form-control(type='text' ng-model='item.video' placeholder='Search video' typeahead='video as video.name for video in loadVideo($viewValue) | limitTo: 5' typeahead-template-url='imagesTemplate.html' ng-style='isSerie()?{display:"inline",width:"70%"}:{}')
    button.btn.btn-primary(ng-click='searchFirstVideo()' ng-if='isSerie()')
      span.fa.fa-hand-o-left(style='margin-right:5px')
      | S1E1
    div
      a(ng-if="mpd" target="_backoplayer" href="https://afrostream-player.herokuapp.com/?url={{mpd}}")
        | https://afrostream-player.herokuapp.com/?url={{mpd}}

.form-group
  label.control-label Actors
  tags-input(ng-model='item.actors' placeholder='Search actor' add-from-autocomplete-only='true' display-property='fullName' key-property='_id')
    auto-complete(source='loadActors($query)' template='actor-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='actor-template')
    .tag-template
      span {{data.firstName + ' ' + data.lastName}}

      span {{data.title}}

.form-group
  label.control-label Trailer Youtube
  input.form-control(type='text' ng-model='item.youtubeTrailer')

.form-group
  label.control-label Countries
  countries(props="countriesProps")

.form-group
  label.control-label Broadcasters
  broadcasters(props="broadcastersProps")
